.profile{
   
    padding: 50px 0 50px 0;    background-image: url("https://www.shutterstock.com/image-photo/man-hands-holding-global-network-260nw-1801568002.jpg");
  
    height: 100px;
    background-size: 100% 
      }